body {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    line-height: 1.5rem;
    margin: 0%;
}
.nav-row {
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.nav-brand{
    width:   fit-content;
    display: inline-flex;
}
.nav-brand a {
    
    text-decoration: none;
    font-size: larger;
    color: black;
    font-weight:300;
    
}
.brandlogo {
    width: 7rem;
    vertical-align: middle;
    padding-right: 2rem;
}
.navlink {
    display: inline-flex;
    padding: 1rem;
    
}
.navlink a:link {
    text-decoration: none;
    color: #E09760;
}
.navlink a:hover {
    color: #652E1F;
}
.items {
    
    list-style: none;
    width: fit-content;
    display: inline-flex;
    
}

.navlink{
    font-weight: normal;
    font-size: 1.5rem;
}

.mainsection{
    width: 100%;
    height:fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/**************************************************/
.formato{
    margin: 10vh 0 10vh 0 ;
    width: 40vw;
    height:50vw;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.direccion{
    margin-left: 10vw;
    border-radius: 30px;
    width: 20vw;
    height:30vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


input{
    width: 30vw;
    height: 5vh;
}
select{
    width: 30vw;
    height: 5vh;
    text-align: center;
}
.comment{
    height: 30vh;
}



footer{
    width: 100%;
    height: 10vh;
    background-color: #652E1F;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
}
footer h4{
    padding-right: 2vw;
}
footer a{
    text-decoration: none;
    padding-left: 4vh;
    color: white;
    margin-right: 5rem;
}
.info{
    margin: 6vh;
}



