body {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    line-height: 1.5rem;
    margin: 0%;
}
.nav-row {
    padding-left: 3rem;
    background-color: #652E1F;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 2; /* Stay at the top */
    left: 0;
    width: 100%;
}

.nav-brand{
    width:   fit-content;
    display: inline-flex;
}
.nav-brand a {
    
    text-decoration: none;
    font-size: larger;
    color: white;
    font-weight:300;
    
}
.brandlogo {
    width: 7rem;
    vertical-align: middle;
    padding-right: 2rem;
}
.navlink {
    display: inline-flex;
    padding: 1rem;
    
}
.navlink a:link {
    text-decoration: none;
    color: #E09760;
}
.navlink a:hover {
    color: #E09760;
}
.navlink a{
    color: white;
    font-weight: lighter;
}
.items {
    
    list-style: none;
    width: fit-content;
    display: inline-flex;
    
}

.navlink{
    font-weight: normal;
    font-size: 1.5rem;
}

.mainsection{
    width: 100%;
    height:fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100%;
    height: 10vh;
    background-color: #652E1F;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}
footer h4{
    padding-right: 2vw;
}
footer a{
    text-decoration: none;
    padding-left: 4vh;
    color: white;
    margin-right: 5rem;
}
/**************************************************/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 2; /* Stay at the top */
    left: 0;
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10rem;
  }
  /* The navigation menu links */
.sidenav a {
    
    padding: 2rem 1rem 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
.principal{
    width: 100%;
    height: 50rem;
}

  